<div class="container-fluid">

    <div class="row">
        <h1>Графік відключень електроенергії</h1>
    </div>
    <div class="row pt-5">
        <div class="col-md-6">

            <div class="row">
                <div class="col mb-3 overflow-x-scroll no-scroll-bar">
                    <div class="d-flex align-items-start justify-content-start gap-1">
                        <button *ngFor="let city of cities | keyvalue" type="button" class="btn btn-light text-nowrap"
                            [ngClass]="{'active': city.value.name == selectedCity.name}"
                            (click)="selectCity(city.value)">{{city.value.displayName}}</button>
                    </div>

                </div>

            </div>
            <div *ngIf="selectedCity.name!=''" class="row">
                <div class="col mb-3 overflow-x-scroll no-scroll-bar">
                    <div class="d-flex align-items-start justify-content-start gap-1">
                        <button *ngFor="let group of groups  | keyvalue" type="button" class="btn btn-light text-nowrap"
                            [ngClass]="{'active': group.key == selectedGroup}"
                            (click)="selectGroup(group.key)">{{group.value}}</button>

                    </div>

                </div>

            </div>
            <div  *ngIf="selectedCity.name && selectedGroup" class="row d-md-none mt-3">
                <div class="col mb-3 overflow-x-scroll no-scroll-bar">
                    <div class="d-flex align-items-start justify-content-start gap-1">
                        <button type="button" class="btn btn-light text-nowrap"
                            [ngClass]="{'active':  mode == 'calendar'}" (click)="setMode('calendar')">Дивитись
                            графік</button>
                        <button type="button" class="btn btn-light text-nowrap"
                            [ngClass]="{'active':  mode == 'ical-gen'}" (click)="setMode('ical-gen')">Створити календар</button>
                    </div>

                </div>

            </div>

            <div *ngIf="selectedCity.name && selectedGroup" class="row d-md-block" [ngClass]="{'d-none': mode != 'ical-gen'}">
                <div class="col">
                    <h4 class="mt-3 mb-3">Створити календар</h4>

                    <app-calendar-download-component [city]="selectedCity" [group]="selectedGroup"
                    [schedule]="schedule"></app-calendar-download-component>
                </div>
                

            </div>

            <div *ngIf="!selectedCity.name || !selectedGroup" class="row">

                <p>Щоб переглянути графік відключень та згенерувати календар, виберіть місто та групу.</p>

            </div>

        </div>
        <div class="col-md-6 d-md-block" [ngClass]="{'d-none': mode != 'calendar'}"
        >
            <h4 class="mt-3 mb-3">Графік</h4>

            <app-calendar-component *ngIf="selectedGroup"
                [schedule]="schedule.data[selectedGroup]"></app-calendar-component>
            <app-calendar-component *ngIf="!selectedGroup"></app-calendar-component>
        </div>
    </div>
    <div class="row footer">
        <div class="col">
            <h6>Тарас Пелипець</h6>
            <a href="https://github.com/taraspelypets/power_outages">https://github.com/taraspelypets/power_outages</a><br> 
            <a href="https://www.instagram.com/taraspelypets">https://www.instagram.com/taraspelypets</a>


        </div>
        
    </div>